.hero-page {
  background-color: #2e2f42;
}
.hero-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-page-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.hero-page-button:hover,
.hero-page-button.hero-page-button:focus {
  background-color: #404bbf;
}
